header {
    height: 110px;
    background-color: #25215f;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.data{
    padding:10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.albumes {
    display: flex;
    flex-wrap:wrap;
    gap: 20px;
    justify-content: flex-start;
}

.albumes img{
    display: block;
    margin: 0 auto;
    width: 250px;    
}
.album {
    width: 400px;
    overflow: hidden;
    padding: 15px;
    background: rgb(90, 71, 134);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
    transform:translate(-5px); 
}

.info {
    width: 400px;
    overflow: hidden;
    padding: 15px;
    background: #1F2E35;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: 0.3s;
    transform:translate(-5px); 
}

.album:hover {
transform:translateY(-5px); 
}

.info:hover {
transform:translateY(-5px); 
}